#menu {
  list-style: none;
  display: flex;
  align-items: center;
  -webkit-app-region: no-drag;
  user-select: none;
}

#menu .menu-item {
  float: left;
  width: 50px;
  text-align: center;
  background-color: #c6c6c6;
  box-shadow: grey, 1px 0 0 0;
  margin: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}